body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    display: flex;
}

aside {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 700px;
    padding-top: 100px;
    gap: 10px;
}

header {
    display: flex;
    padding: 15px;
}

main {
   width: calc(100% - 100px);
   height: 700px;
   background-color: aqua;
   
    
}


.documents {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 1rem;
}

.documents .failai {
    border: 2px solid;
    width: 400px;
    height: 200px;
    border-radius: 2rem;
}

.top-line {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.empty {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    
}

.documents .images {
    border: 5px solid black;
    border-radius: 10px;
    height: 200px;

}

.nuotrauka {
    border-radius: 2rem;
}


h2 {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 10px;
}


.lower-part {
    display: flex;
    flex-direction: row;
}

.chart img {
    width: 800px;
    height: 300px;
    margin-top: 5rem;
    border-radius: 2rem;
}

.paskutinis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}

.paskutinis .last-one {
    margin: 2rem;
}

.last-one {
    background-color: gray;
    border-radius: 2rem;

}