body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    display: flex;
}

aside {
    background-color: rgb(98, 54, 255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 700px;
    padding-top: 150px;
    border-radius: 50px 30px 0 50px;
    
}

aside p {
    margin: 1rem 0 2rem 0;
}

header {
    display: flex;
    padding: 15px;
}

main {
   width: calc(100% - 100px);
   height: 700px;
}


.documents {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 1rem;
}

.documents .failai {
    border: 2px solid rgb(238, 236, 242);
    width: 300px;
    height: 200px;
    border-radius: 2rem;
    box-shadow: 10px 35px 20px 20px rgb(238, 236, 242);
}

.top-line {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.failai p {
    font-weight: 900;
    padding-left: 10px;
    
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 236, 242);
    border-radius: 10px;
    width: 200px;
    margin-left: 2rem; 
}

.documents .images {
    border: 5px solid black;
    border-radius: 10px;
    height: 200px;
}

.nuotrauka {
    border-radius: 2rem;
    width: 450px;
    box-shadow: 5px 35px 5px 22px rgb(238, 236, 242);
}


h2 {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 10px;
}


.lower-part {
    display: flex;
    flex-direction: row;
}

.chart img {
    width: 800px;
    height: 300px;
    margin: 1rem 1rem 2rem 2rem;
    border-radius: 2rem;
    box-shadow: 10px 35px 20px 20px rgb(238, 236, 242);
}

.paskutinis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
    
}

.paskutinis .last-one {
    margin: 2rem;
}

.last-one {
    border-radius: 2rem;
    border-radius: 1px solid grey;
    width: 290px;
    padding: 1rem;
    box-shadow: 10px 35px 20px 20px rgb(238, 236, 242);
    
}

.titulinis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;   
}

.titulinis h2 {
    font-size: 24px;
}

.titulinis a {
    text-decoration: none;
    color: grey;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    gap: 10px;
    color: grey;
}

.layout div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}